<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 使用双花括号(double-mustache)进行 HTML 转义插值(HTML-escaped interpolation) -->
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!-- 使用三花括号(triple-mustache)进行 HTML 不转义插值(non-HTML-escaped interpolation) -->

    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script>
        window.computedScale = function () {
            var w = document.documentElement.clientWidth;
            w = w > 414 ? 414 : w;
            return w / 7.5;
        };
        var response = function () {
            if (document.documentElement.clientWidth > 1024) {
                document.documentElement.style.width = 1024 + 'px';
                document.documentElement.style.marginLeft = 'auto';
                document.documentElement.style.marginRight = 'auto';
            } else {
                document.documentElement.style.width = '';
                document.documentElement.style.marginLeft = '';
                document.documentElement.style.marginRight = '';
            }
            document.documentElement.style.fontSize = window.computedScale() + 'px';
        };
        window.onresize = function () {
            response();
            clearTimeout(this.responseTimer);
            this.responseTimer = setTimeout(response, 300);
        };
        response();
    </script>
</head>
<body>

<!--<%= JSON.stringify(htmlWebpackPlugin.options) %>-->
<div id="app">
    <!--vue-ssr-outlet-->
</div>

<!-- 开发环境 -->
<% if (process.env.NODE_ENV === 'development') { %>
<script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script>
<script>
    new VConsole();
</script>
<% } %>
</body>
</html>
