.card-layout {
  width: calc(100% - 20px);
  margin: 0 auto;
  padding: 16px 0;
  border-bottom: 1px solid #f4f4f4;
  h3{
    font-size: 16px;
    line-height: 1.6;
    font-weight: bold;
    margin-bottom: 10px;
  }
  p{
    color: #93939F;
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.4;
  }
  .line-1{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .line-2{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
